In [1]:
import pandas as pd

In [11]:
datas=pd.read_csv('eurostat.csv')

In [12]:
datas.head()

,Unnamed: 0,ind_type,geo\time,2012,2013,2014,2015,2016,2017,2018
0,0,Active labour force (employed and unemployed),AT,53.0,60.0,66.0,74.0,74.0,83.0,82.0
1,1,Active labour force (employed and unemployed),BA,NaN,NaN,NaN,NaN,NaN,NaN,73.0
2,2,Active labour force (employed and unemployed),BE,49.0,52.0,67.0,77.0,80.0,84.0,86.0
3,3,Active labour force (employed and unemployed),BG,15.0,22.0,31.0,44.0,53.0,67.0,68.0
4,4,Active labour force (employed and unemployed),CH,NaN,NaN,67.0,NaN,NaN,76.0,NaN

In [16]:
datas2=datas.iloc[:,:].values

In [15]:
datas.drop(['Unnamed: 0'],axis=1)

,ind_type,geo\time,2012,2013,2014,2015,2016,2017,2018
0,Active labour force (employed and unemployed),AT,53.0,60.0,66.0,74.0,74.0,83.0,82.0
1,Active labour force (employed and unemployed),BA,NaN,NaN,NaN,NaN,NaN,NaN,73.0
2,Active labour force (employed and unemployed),BE,49.0,52.0,67.0,77.0,80.0,84.0,86.0
3,Active labour force (employed and unemployed),BG,15.0,22.0,31.0,44.0,53.0,67.0,68.0
4,Active labour force (employed and unemployed),CH,NaN,NaN,67.0,NaN,NaN,76.0,NaN
...,...,...,...,...,...,...,...,...,...
555,"Individuals, 55 TO 74 years old",SI,5.0,10.0,11.0,12.0,16.0,27.0,33.0
556,"Individuals, 55 TO 74 years old",SK,8.0,10.0,14.0,15.0,20.0,28.0,22.0
557,"Individuals, 55 TO 74 years old",TR,1.0,2.0,5.0,7.0,13.0,19.0,26.0
558,"Individuals, 55 TO 74 years old",UK,33.0,34.0,45.0,55.0,57.0,61.0,61.0
559,"Individuals, 55 TO 74 years old",XK,NaN,NaN,NaN,NaN,NaN,54.0,54.0

In [17]:
count=list(datas.iloc[:,2].values)

In [18]:
count

['AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK',
 'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK']

In [19]:
diffpays=set(count)

In [20]:
diffpays

{'AT',
 'BA',
 'BE',
 'BG',
 'CH',
 'CY',
 'CZ',
 'DE',
 'DK',
 'EA',
 'EE',
 'EL',
 'ES',
 'EU27',
 'EU28',
 'FI',
 'FR',
 'HR',
 'HU',
 'IE',
 'IS',
 'IT',
 'LT',
 'LU',
 'LV',
 'ME',
 'MK',
 'MT',
 'NL',
 'NO',
 'PL',
 'PT',
 'RO',
 'RS',
 'SE',
 'SI',
 'SK',
 'TR',
 'UK',
 'XK'}

In [21]:
def cgtpays(char):
    if char == "AT":
        return "AUT"
    elif char == "BA":
        return "BIH"
    elif char == "BE":
        return "BEL"
    elif char == "BG":
        return "BGR"
    elif char == "CH":
        return "CHE"
    elif char == "CY":
        return "CYP"
    elif char == "CZ":
        return "CZE"
    elif char == "DE":
        return "DEU"
    elif char == "DK":
        return "DNK"
    elif char == "EA":
        return "EA"
    elif char == "EE":
        return "EST"
    elif char == "EL":
        return "GRC"
    elif char == "ES":
        return "ESP"
    elif char == "FI":
        return "FIN"
    elif char == "FR":
        return "FRA"
    elif char == "HR":
        return "HRV"
    elif char == "HU":
        return "HUN"
    elif char == "IE":
        return "IRL"
    elif char == "IS":
        return "ISL"
    elif char == "IT":
        return "ITA"
    elif char == "LT":
        return "LTU"
    elif char == "LU":
        return "LUX"
    elif char == "LV":
        return "LVA"
    elif char == "ME":
        return "MNE"
    elif char == "MK":
        return "MKD"
    elif char == "MT":
        return "MLT"
    elif char == "NL":
        return "NLD"
    elif char == "NO":
        return "NOR"
    elif char == "PL":
        return "POL"
    elif char == "PT":
        return "PRT"
    elif char == "RO":
        return "ROU"
    elif char == "RS":
        return "SRB"
    elif char == "SE":
        return "SWE"
    elif char == "SI":
        return "SVN"
    elif char == "SK":
        return "SVK"
    elif char == "TR":
        return "TUR"
    elif char == "UK":
        return "GBR"
    elif char == "XK":
        return "XKX"

In [22]:
for i in datas2:
    i[2] = cgtpays(i[2])

In [24]:
pd.DataFrame(datas2).to_csv('datapaystroislettres.csv')